apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ .Values.service.name }} 
  labels:
    chart: "{{ .Chart.Name | trunc 63 }}"
    chartVersion: "{{ .Chart.Version | trunc 63 }}" 
    visualize: "true" 
    app: {{ .Values.service.name }} 
spec:
  replicas: {{ .Values.replicaCount }} 
  selector: 
    matchLabels:
      app: {{ .Values.service.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.service.name }}
        visualize: "true" 
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - {{ .Values.service.name }}
            topologyKey: "kubernetes.io/hostname"
      containers:
      - name: {{ .Values.service.name }} 
        image: "{{ .Values.image.repository }}:{{ .Chart.Version }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env: 
        - name: ELASTICSEARCH_SAPI_ENDPOINT 
          valueFrom: 
            configMapKeyRef: 
              name: global-config 
              key: aws.content.elasticsearch.endpoint
        - name: KAFKA_CONSUMER_GROUP 
          value: "k8s-{{ .Values.service.name }}" 
        - name: KAFKA_TOPIC 
          value: {{ .Values.env.KAFKA_TOPIC }}
        - name: KAFKA_CONCURRENT_PROCESSING 
          value: "{{ .Values.env.KAFKA_CONCURRENT_PROCESSING }}"
        - name: KAFKA_PROXY_ADDR 
          valueFrom: 
            configMapKeyRef: 
              name: global-config 
              key: kafka-msk.proxy.url.with.protocol
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: global-secrets
              key: aws.access_key_id
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: global-secrets
              key: aws.secret_access_key
        - name: PUBLIC_CONCORDANCES_ENDPOINT
          value: "{{ .Values.env.PUBLIC_CONCORDANCES_ENDPOINT }}"
        - name: "BASE_API_URL"
          valueFrom:
            configMapKeyRef:
              name: global-config
              key: api.host.with.protocol
        ports: 
        - containerPort: 8080 
        livenessProbe: 
          tcpSocket: 
            port: 8080 
          initialDelaySeconds: 10 
        readinessProbe: 
          httpGet: 
            path: "/__gtg" 
            port: 8080 
          initialDelaySeconds: 15 
          periodSeconds: 30 
        resources: 
{{ toYaml .Values.resources | indent 12 }}

