# Default values for content-rw-elasticsearch.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
service:
  name: "" # The name of the service, should be defined in the specific app-configs folder.
  hasHealthcheck: "true"
replicaCount: 2
image:
  repository: coco/content-rw-elasticsearch
  version: "" # should be set explicitly at installation
  pullPolicy: IfNotPresent
resources:
  requests:
    memory: 64Mi
  limits:
    memory: 512Mi
env:
  KAFKA_TOPIC: ""
  KAFKA_CONCURRENT_PROCESSING: ""
  PUBLIC_CONCORDANCES_ENDPOINT: ""
